/* CSS Document */

/**********CSS for main************/

body{
background-color: #000066;
}

.container {
	
	min-width: 95% !important;
	min-height: 98% !important;
	background-color: #FFF; 
	
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
	margin-bottom: 20px;
}
.content {
	background-color: #B6DDE8;
}

.header {
	height: 201px;
	background-size: 100%;
	background-image: URL('../images/banner.png');
}
.footer {
	
	height: 10%;
	background-color: #253c65;
	color: #fff;
	float: center;
	padding-top:10px !important;
	padding-bottom: 10px !important;
    margin-top: 15px;
    margin-bottom: 15px;
}
#page-title {
	border-left: solid 7px #4573d5;
	margin-bottom: 10px;
	padding-left: 5px;
	width: 70%;
}

span {
	font-weight:bold;
}
a {
	text-decoration: none !important;
	font-family:  Cursive,Verdana,Tahoma,Geneva,Arial,Helvetica,sans-serif;
}
h3{
	font-family:  Cursive,Verdana,Tahoma,Geneva,Arial,Helvetica,sans-serif;
}

h2{
	font-size: 24px;
	line-height: 36px;
	font-family:    tahoma,verdana,arial,"hiragino kaku gothic pro",meiryo,"ms pgothic",sans-serif
}

p{
	padding-left: 10px;
	font-family: initial,sans-serif,Helvetica;
}

ul{
	list-style-position: inside;
	list-style-image: url('../images/list-style-image.png');
	list-style: none;
}
#page-content {
	padding: 2px 10px 10px 10px;
	min-width: 70% !important;
	max-width: 75% !important;
	min-height: 98% !important;
	float: left;
}


.textarea-large {
	width: 250px !important;
	height: 40px !important;
}
.textarea-xxlarge {
	width: 450px !important;
	height: 100px !important;
}


.input_txt, textarea {
	border: 1px solid #696969 !important;
	padding: 2px 5px !important;
	border-radius: 5px !important;
	box-shadow: 2px 2px 2px #a9a9a9 inset !important;
	min-width: 98% !important;
	min-height: 25px !important;
}
.w_100 {
	width: 100px !important;
}
.w_200 {
	width: 100% !important;
}
.required {
	color: #F00;
	font-size: 18px;
}

.item-page {
    padding: 10px;
    display: block;
    overflow: hidden;
}

#right {
    border: 0px solid #E6E6E6;
    background: none repeat scroll 0% 0% #FFF;
}
#right {
    float: right;
    width: 25%;
    padding: 80px 0px 5px;
    position: relative;
}
#right .moduletable {
    margin: 0px 0px 10px;
}
.moduletable {
    margin: 0px;
    padding: 0px;
}
#right h3 {
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 0px;
    font-weight: normal;
}
#right h3 span.backh {
    padding: 0px;
    display: block;
}
#right h3 span.backh2 {
    background: none repeat scroll 0% 0% #FFF;
    color: #555;
    border-bottom: 1px solid #DDD;
}
#right h3 span.backh2 {
    display: block;
}
#right .moduletable .mod_title {
    background: url("../images/mod_title_background_noarr.png") repeat scroll left top #253C65;
}
#right h3 span.backh3 {
    padding-left: 0px;
}
#right h3 span.backh3 {
    display: block;
}
.moduletable .mod_title {
    color: #FFF;
    background: url("../images/mod_title_background.png") no-repeat scroll left top #7B88A1;
    height: 35px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
}
.moduletable .mod_icon {
    width: 35px;
    height: 35px;
    display: inline-block;
    vertical-align: middle;
}
#right ul {
    list-style-image: url("../images/arrow.png");
    list-style-position: inside;
    vertical-align: middle;
    margin: 8px 0px;
    padding: 0px 8px;
    position: relative;
 }
 .weblinks li {
    padding: 2px 10px;
}
#right .moduletable {
    margin: 0px 0px 10px;
}
/***************************************************/

/**************CSS for table********************/
th {
	width: 20%;
	padding: 5px 10px;
	border: 1px solid #000;
	color: #fff !important;
	background-color: #547cba;
	font-weight: bold;
	line-height: 1.3;
	vertical-align: middle;
	font-family:  Cursive,Verdana,Tahoma,Geneva,Arial,Helvetica,sans-serif;
}
td {
	padding: 5px 10px;
	border: 1px solid #000;
	vertical-align: middle;
}
tbody {
	background: none;
	border: 1;
	text-align: left;
}

/***************************************************/

/******************CSS for home******************/
.home-table{
	margin: 0px;
	padding: 0px 0px;
	text-align: left;
	
	

}
.home-table h3{
    color: #555;
    font-size: 1.1em;
    font-weight: bold;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.home-table .home-span-title{
	color: #fff;
	background: #7b88a1 url('../images/span-home.png') no-repeat top left;
	height: 35px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
}

.home-table .home-span-icon{
   width: 35px;
   height: 35px;
   display: inline-block;
   vertical-align: middle;
}

.category-module{
  
}

.category-module ul{
	padding-left: 0px !important;
}
.category-module li{
	border-bottom: solid 1px #fff;
}
.category-module span{
	display: block;
	font-size: 0.85em;
}

.tabs-button{
	height: 40px;
	padding-top: 5px;

}

.button{
	width: 120px !important;

}
/***************************************************/

/*************CSS for login****************/

#login {
	width: 600px;
	margin: 20px auto 20px;
	border: 1px solid #000;
	border-radius: 7px;
	box-shadow: 4px 4px 3px 0 #888;
	padding: 10px 0;
	background: #fff;
	font-family:  Cursive,Verdana,Tahoma,Geneva,Arial,Helvetica,sans-serif;
}
#login .tit {
	font-size: 30px;
	line-height: normal;
	text-align: center;
	font-weight: bold;
	font-family: Cursive,Verdana,Tahoma,Geneva,Arial,Helvetica,sans-serif;
}
#login .box_cont {
	padding: 30px 30px;
}
#login .box_cont dl {
	margin: 0 auto;
	width: 300px;
}
#login dt {
	line-height: 30px;
	font-size: 18px;
	margin-bottom: 5px;
	font-family: Verdana,Tahoma,Geneva,Arial,Helvetica,sans-serif;
}


#login dd {
    margin-bottom: 15px;
    font-family: Verdana,Tahoma,Geneva,Arial,Helvetica,sans-serif;
}
#login .other {
	text-align: right;
	font-family: Verdana,Tahoma,Geneva,Arial,Helvetica,sans-serif;
}


/***************************************************/

/******************CSS panel********************/
.panel{
    margin: 20px;
	width: 1200px;
	font-size: 1.3em;
	background-color: #F8F8F8;
	font-family: Verdana,Tahoma,Geneva,Arial,Helvetica,sans-serif;
}

/***************************************************/

/***************CSS for news******************/
.gn_static_1 {
    border: 1px solid #EFEFEF;
    padding: 10px;
    height: auto;
    background-color: #FFF;
    overflow: hidden;
}
.gn_title {
    margin: 7px;
    font-weight: bold;
    text-transform: uppercase;
}
.gn_date {
    margin: 7px;
}
.gn_introtext {
    margin: 3px;
    font-size: 12px;
}
.article-info {
    color: #444;
}
.article-info {
    margin: 10px 0px;
    font-size: 0.9em;
}
.archive .article-info dd, .article-info dd {
    margin: 2px 0px 0px;
    line-height: 1.2em;
}
/*************************************************/
/*******************CSS for form  noti********************/
form#adminForm {
    border: 0px solid #000;
    padding-top: 4px;
}
fieldset.filters {
    border: 0px solid #DDD;
}
fieldset {
    border: 0px solid #CCC;
}
fieldset {
    margin: 10px 0px;
    padding: 15px 0px;
    border: 1px solid;
}
.display-limit, .filter {
    text-align: right;
    margin-right: 7px;
}
table.weblinks, table.category {
    font-size: 1em;
    margin: 10px 10px 20px 0px;
    width: 99%;
}
tr, td {
    border: 1px solid #DDD;
}
table {
    border-collapse: collapse;
}
td {
    padding: 7px;
}
tr.odd, .cat-list-row1 {
    background: url("../images/news.gif") repeat-x scroll 0% 0% transparent;
}
#main .pagination {
    border-top: 1px solid #DDD;
    clear: both;
    text-align: center;
}
#main .pagination {
    margin: 10px 0px;
    padding: 10px 0px;
    clear: both;
}
p.counter {
    font-weight: bold;
}
#main .pagination ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#main ul {
    list-style: outside none none;
    padding: 10px;
}
#main .pagination li.pagination-start, #main .pagination li.pagination-start span {
    padding: 0px;
}
#main .pagination li.pagination-start, #main .pagination li.pagination-next, #main .pagination li.pagination-end, #main .pagination li.pagination-prev {
    border: 0px none;
}
#main .pagination li {
    display: inline;
    padding: 2px 5px;
    text-align: left;
    border: 0px solid #EEE;
    margin: 0px 2px;
}
#main ul li {
}
#main ul li, #main ol li {
    padding: 0px;
    line-height: 1.7em;
    margin: 0px;
}
#main .pagination li.pagination-start, #main .pagination li.pagination-start span {
    padding: 0px;
}
.pagenav {
    padding: 2px;
    clear: both;
}
.list-title{
	width: 80%;
}
.list-date{
	text-align: center;
}
/*******************************************************/

/*********************CSS for news**********************/
.blog {
    padding: 10px;
}
.items-row {
    overflow: hidden;
    margin-bottom: 10px !important;
}
.items-row h2 {
    font-weight: normal;
    padding: 5px 2px;
    font-size: 1.4em;
    border-top: 1px solid #DDD;
border-bottom: 1px solid #DDD;
}
.cols-1 {
    display: block;
    float: none !important;
    margin: 0px !important;
}
.column-1, .column-2 {
    border: 0px solid;
}
.item {
    padding: 0px 5px 10px;
    display: block;
}
.column-1, .column-2, .column-3 {
    padding: 10px 5px;
}
.readmore a:link, .readmore a:visited, a.readmore:link, a.readmore:visited {
    color: #095197;
    background: url("../images/nature/arrow1.gif") no-repeat scroll left top #EEE;
    border: 1px solid #DDD;
}
 .readmore a {
    font-weight: bold;
    padding: 2px 5px 2px 10px;
    display: inline-block;
    margin-top: 5px;
    text-decoration: none;
}
.row-separator {
    display: block;
    clear: both;
    margin: 0px;
    border: 0px none;
    height: 1px;
}
/******************************************************/